/*------------------------------------------------		LAYOUT */
	.clearfix:before,.clearfix:after{content:'\0020';display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both}.clearfix{zoom:1}
#container {
	position: relative;
	min-height: 100%;
	margin-bottom:250px;
}
.content {
	width:960px;
	margin: 0 auto;
	clear:both;
	line-height:24px;
}
#header {
	height: 100px;
	width:100%;
	background:url(../img/header_bg.png) repeat-x top;
}
#leftside {
	width: 200px;
	float: left;
	position:relative;
}
#center{
	width:520px;
	float:left;
	margin: 0 20px;
	position:relative;
}
#rightside {
	width: 200px;
	float: right;
}
#footer, .empty {
	clear:both;
}
.red {
    color: #C50000;
}
/*------------------------------------------------		DESIGN */
body, a, h1, b, pre, p {
	color:#636363;
	text-decoration:none;
	font-family: "繝｡繧､繝ｪ繧ｪ", "Meiryo", "繝偵Λ繧ｮ繝手ｧ偵ざ Pro W3", "Hiragino Kaku Gothic Pro", "�ｼｭ�ｼｳ �ｼｰ繧ｴ繧ｷ繝�繧ｯ", "MS P Gothic", "Osaka", Verdana, Arial, Helvetica, sans-serif;
}
h2{
	margin:25px 0 5px;
	font-size:20px;
	color:#000;
}
h3{
	margin:20px 0 0 5px;
	font-size:20px;
	color:#000;
}
s{
	font-size:7px;
	text-decoration:none;
	vertical-align: middle;
	padding: 5px;
}
/*------------------header */
#header #link li{
	display:inline;
}
#header #link li a{
	color:#FFF;
	margin:10px;
}
#header #link li a:hover{
	color:#fc63a3;
}
/*------------------header menu */
#header .menu li{
	display:inline;
}
#header .menu a{
	float:left;
	width:120px;
	height:40px;
	border:1px solid #dadada;
	margin:1px;
	font-size:16px;
	line-height:40px;
	text-align:center;
	font-weight:bold;
}
#header .menu a:hover{
	border:1px solid #000;
}
/*------------------left */
#leftside .leftmenu ul{
	border-bottom:1px solid #dadada;
}
#leftside .leftmenu a{
	display:block;
	height:40px;
	border:1px solid #dadada;
	border-bottom:none;
	line-height:40px;
	font-size:14px;
	padding:0 10px;
}
#leftside .leftmenu a:hover{
	font-weight:bold;
	background: #F3F3F3;
}
/*------------------center */

/*------------------right */
#rightside{
	float:right;
}
/*------------------footer */
#footer {
	position: relative;
	margin: -160px auto 0;
	border-top:3px solid #000;
}
#footer .content, #footer a {
	color: #000;
	font-size:12px;
}
code, pre {
	white-space:pre-wrap;
	word-wrap: break-word;
}
/*--------------- twitter */
.cntTwitter{
    margin-top: 10px
}

.cntTwitter h3{
    text-indent: -9999px;
    font-size: 0;
    background: url("../img/title_twitter_left.png") no-repeat;
    height: 24px;
}

.cntTwitter .jspPane{ padding: 0 !important; margin-left:0!important;}


.cntTwitter .tweet,
.cntTwitter #tweet{
    width: 189px;
}

.cntTwitter #tweet{
    margin-top: 5px;
}

.cntTwitter .tweet_list{
    padding: 5px 0 0 1px;
}

.cntTwitter .tweet_list li{
    border: 1px solid #e1e1e1;
    margin: 0 4px 4px 4px;
    padding: 5px;
    background-color: #fff;
    overflow: hidden;
}


.cntTwitter .tweet_list li img{
    margin-right: 5px;
    float: left;
}
.cntTwitter .cntInfo{
    width: 130px;
    font-size: 11px;
    padding-left: 40px;
}
.cntTwitter .tweet_list li a{
    text-decoration: underline;
    font-size: 9px;
    display: block;
}
/*------------- search*/
.search{ overflow:hidden;}
.search .text{ width:470px; height:33px; float:left;}
.search .button{
	width:35px;
	height:35px;
	border:none;
	float:left;
	margin-left:5px;
	background:url(../../../../images/main/search_btn.png) no-repeat;
	cursor:pointer;
}
/*------------gallery*/
.slideMenu{
	width:518px;
	border:solid 1px #ccc;
    margin-top: 17px;
    font-size: 15px;
    letter-spacing: normal;
    line-height: 1.45em;
    position:relative;
    background-position:0 0;
    background-repeat:no-repeat;
    background-color:transparent;
    overflow: hidden;
}

.slideMenu p.url{ display: none;}

.slideMenu ul.menu{
    list-style:none;
    width:960px;
}

.slideMenu ul.menu > li{
    float:left;
    width:239px;
    height:405px;
    border-right:1px solid #484848;
    background-repeat:no-repeat;
    background-color:transparent;
}
.slideMenu ul.menu > li.last{ border:none; }



.slideMenu ul.menu > li > a{
    float:left;
    width:239px;
    height:50px;
    margin-top:330px;
    text-align:center;
    line-height:50px;
    color:#ddd;
    background-color:#333;
    letter-spacing:1px;
    cursor:pointer;
    background:url(../img/menu_slide/menu.png) no-repeat;
    text-indent: -9999px;
    font-size: 0;
}

.slideMenu ul.menu li a#bg2{ background-position: -239px 0; }
.slideMenu ul.menu li a#bg3{ background-position: -478px 0; }
.slideMenu ul.menu li a#bg4{ background-position: -717px 0; }

.slideMenu ul.menu > li div{
    float:left;
    margin-top:-149px;
    width:100%;
    height:79px;
    padding-top:20px;
    background-color:transparent;
}

.slideMenu ul.menu > li ul li{ display:none; }
.slideMenu ul.menu .sub1{ background:url(../img/menu_slide/bg_sub1.png) no-repeat; }
.slideMenu ul.menu .sub2{ background:url(../img/menu_slide/bg_sub2.png) no-repeat; }
.slideMenu ul.menu .sub3{ background:url(../img/menu_slide/bg_sub3.png) no-repeat; }
.slideMenu ul.menu .sub4{ background:url(../img/menu_slide/bg_sub4.png) no-repeat; }
#thumb li{}
#thumb a{ width:12px!important; height:12px!important; background:url(../../../../images/slider/dott.png) no-repeat; display:block; float:left; width:16px!important; height:16px!important; margin-right:2px;
text-indent:-9999px;}
#thumb .selected{ background:url(../../../../images/slider/dott_active.png) no-repeat; z-index:9999;}
#thumb{ width:150px; position:absolute; z-index:9999; left:390px; bottom:15px;}
#carousel{ margin:0!important; height:427px!important; width:518px!important;}
#carousel ul li{ width:519px!important; position:relative;}
#carousel ul li img{ width:519px!important;}
#carousel a.shop_now{
	background-color:#fc63a3;
	color:#fff;
	text-decoration:none;
	line-height:33px;
	text-align:center;
    bottom: 59px;
    display: block;
    height: 33px;
    position: absolute;
    right: 37px;
    width: 140px;
}
#carousel a.shop_now:hover{ opacity:0.7;}
#leftsideGallery{ padding:0!important;}
/*---------------------------- news js*/
.newProducts .contCarousel > div{ width: 235px; }

.newProducts .cntCarousel{
    position: relative;
    margin-top: 10px;
	background-color:#f9f9f9;
}

.newProducts  a.bx-prev,
.newProducts  a.bx-next{
    position: absolute;
    width: 18px;
    height: 30px;
    top: 42px;
    text-indent: -9999px;
    font-size: 0;
}

.newProducts  a.bx-prev{ background: url(../../../../images/main/box_left_arrow.png) no-repeat center; left: 7px; }
.newProducts  a.bx-next{ background: url(../../../../images/main/box_right_arrow.png) no-repeat center; right: 4px; }

.newProducts  a.bx-prev:hover{ background: url(../../../../images/main/h_box_left_arrow.png) no-repeat center; left:7px;}
.newProducts  a.bx-next:hover{ background: url(../../../../images/main/h_box_right_arrow.png) no-repeat center; right: 4px;}


.newProducts .bx-wrapper{
    padding: 6px 0 6px 31px;
    position: static !important;
}

.newProducts .contCarousel a.box{
    display: block;
    height: 82px;
    border: 1px solid #e3e3e3;
    margin-right: 10px;
    padding: 10px 0 8px 10px;
}

.newProducts .contCarousel .box:hover{
    border:1px solid #5e5e5e;
    text-decoration: none;
    color: #000;
}

.newProducts img{ float: left; height:80px; margin-right:10px; }
.newProducts .cont{
    float: left;
    width: 150px;
}

.newProducts span.info{
    display: block;
    font-size: 10px;
    line-height: 16px;
    color: #363636;
}

.newProducts strong{
    display: block;
    font-size: 12px;
    line-height: 16px;
    color: #c50000;
}
/*----------------- products*/
.products{ background:url(../../../../images/main/bg_ul_products.png) repeat-y  left top; overflow:hidden; margin-top:25px; margin-bottom:50px;}
.products li{ width:125px; height:217px; float:left; margin-right:5px; color:#8c8c8c; font-size:10px; text-align:center;}
.products li img{ width:83px; height:129px; border:1px solid #f0f0f0; margin:6px auto 0 auto;}
.products li p{ width:83px; margin:5px auto 0 auto; line-height:20px;}
.products li b{ color:#000; font-size:16px; margin-right:6px;}
.products li span{ margin-top:3px; display:block;}
.products li.border_bottom{ background:url(../../../../images/main/bg_li_products.png) no-repeat left bottom;}
/*--------------- conInfo*/
.contInfo{
    padding: 9px;
    margin-top: 10px;
}


.contInfo > dl dt,
.contInfo > dl dd{
    padding-top: 8px;
    background: url(../../../../images/main/dott_gray.png) repeat-x 0 0;
}

.contInfo > dl dd a{ color: #404040; font-size:12px; }

.contInfo > dl dt{
    width: 124px;
    float: left;
    clear: left;
    font-weight: bold;
}

.contInfo > dl dd{
    margin-left: 124px;
    min-height: 21px;
    padding: 8px 15px 2px 0;
}

.contInfo > dl dd.first,
.contInfo > dl dt.first{ background: none;padding-top: 0}

.contInfo > dl dt span{
    display: block;
    color: #890000;
	font-size:12px;
}

.contInfo > dl dt strong{
    display: block;
    width: 65px;
    height: 20px;
    line-height: 20px;
    background-color: #a5b5ba;
    color: #fff;
    font-size: 11px;
    text-align: center;
    float: left;
    margin-right: 15px;
}


.contInfo > dl dt strong.red{ background-color: #000; }
.contInfo > dl dt strong.gray{ background-color: #797979; }
.cntTopBtns a{
    display: block;
		font-size:14px;
		color:#fff;
    width: 155px;
		height:42px;
		line-height:42px;
		padding-left:45px;
}
.cntTopBtns a.btn1{  background: url(../../../../images/main/icon_cart.png) no-repeat 10px center; background-color:#fc63a3;}
.cntTopBtns a.btn2{background: url(../../../../images/main/icon_beginer.png) no-repeat 15px center; background-color:#000; margin-top:10px;}
/*--------------------- right menu*/
.rightMenu{ margin-top: 20px; overflow:hidden;}
.rightMenu li{
	width: 190px;
    height: 40px;
		background-color:#eee;
		padding:0 5px;
		line-height:40px;
		border-top:#fff 1px solid;
		border-bottom:#dddddd 1px solid;
	}
.rightMenu li span{}

.rightMenu li a{
    display: block;

    margin-left:7px;
    background: url(../../../../images/main/icon_arrow01.png) no-repeat 0 center;
		padding:2px 0 0 15px;
		font-size:14px;
}


.rightMenu li a span{
    *display: block;/*ie7*/
}

/*-------------------- right banners*/
.rightAdvert{ margin-top: 25px; position: relative;}
.rightAdvert a.b2{display: block; margin: 25px 0 0 0; }
.rightAdvert a img{ display: block;}
.rightAdvert a:hover img,
#leftside a:hover img
{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}
#rightside a:hover,
#rightside a:hover {
	 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}
/*---------------------- cont*/
.cont_menu{
	border:1px solid #ccc;
	padding:10px 15px;
	margin-top:7px;
}

.cont_menu li{
    background: url(../../../../images/rightside/gray.png) no-repeat 0 center;
    padding-left: 20px;
    line-height: 24px;
	color:#121212;
	font-size:12px;
}
.cont_menu img{ margin-top: 11px; display: block;}
/*----------------- Top Ranking*/
.topRanking{ margin-top: 15px}
.topRanking .cont{
    border: 1px solid #e5e5e5;
    margin-top: 5px;
    padding: 0 10px;
	overflow:hidden;
}

.topRanking .item{
    border-top: 1px solid #cccccc;
    position: relative;
	overflow:hidden;
	padding-bottom:10px;
}

.topRanking .item:first-child{ border: none; overflow:hidden; padding-top:5px; padding-bottom:10px;}

.topRanking i{
    min-width: 85px;
    float: left;
	margin-top:12px;
}
.topRanking i img{
    display: block;
    width: 85px;
}

.topRanking .info{
    float: left;
    width: 93px;
    margin-top: 20px;
}

.topRanking .info p{
    line-height: 16px;
    font-size: 11px;
	padding-left:8px;
}

.topRanking .info a{
    display: block;
		text-align:center;
		line-height:18px;
    font-size: 8px;
    width: 56px;
    height: 18px;
    margin: 32px 0 0 0;
    float: right;
		background-color:#000;
		color:#fff;
}
.topRanking .info a:hover{ background-color:#eeebeb; color:#000;}

.topRanking em.number{
    display: block;
    text-indent: -99999px;
    font-size: 0;
    background: url(../../../../images/rightside/sp_ranking.png) no-repeat;
    position: absolute;
    top: 6px;

}

.topRanking em.i1 {width:6px; height:16px; }
.topRanking em.i2 {width:13px; height:17px; background-position: -6px 0}
.topRanking em.i3 {width:14px; height:18px; background-position: -19px 0}
.topRanking em.i4 {width:15px; height:16px; background-position: -33px 0}
.topRanking em.i5 {width:15px; height:17px; background-position: -48px 0}
.line_bottom{ height:3px; background-color:#000; font-size:1px;}
/*----------------------- footer*/
.footer_block{ width:960px; margin:0 auto; padding-bottom:15px; position:relative;}
.footer_block .footer_top{ font-size:12px; position:relative; overflow:hidden;}
.footer_block .time_job{ float:left; color:#3e3e3e; margin-top:20px;}
.footer_block .time_job span{ color:#ff3087;}
.footer_block .like_button{ float:right; margin-top:40px;}



.footer_block .go_top{ position:absolute; right:0; top:-9px; z-index:9999;}
#footer .footer_block .go_top a{ display:block; width:122px; height:36px; color:#fff; font-size:14px; line-height:36px; background: url(../../../../images/main/icon_arrowUp.png) no-repeat 90% 50%; background-color:#fc63a3; padding:0 0 0 30px;}



.footer_block .footer_menu{ padding-left:10px; padding-bottom:10px; padding-top:20px; margin-top:15px; overflow:hidden; background-color:#f4f4f4;}

.footer_block .f_menu{ float:left; background:url(../../../../images/footer/border_ul_footer.png) repeat-y right 0; padding-left:30px; padding-right:70px; min-height:150px; min-width:100px;}
.footer_block .f_menu li{ color:#000; font-size:14px; position:relative;}
.footer_block .f_menu li a, .f_blog li a{ color:#fff; text-decoration:none; font-size:12px;}
.footer_block .f_menu li a:hover, .f_blog li a:hover{ text-decoration:underline;}
.footer_block .f_menu li .f_logo{ position:absolute; left: 0; top: 20px; }
.footer_block .f_menu li .f_logo span{white-space: nowrap;}
#footer .f_logo a{font-size:50px;line-height:8px; color:#636363;}
#footer .f_logo a:hover{ text-decoration:none;}

.footer_block .f_blog{ float:left; margin-left:35px;}
.footer_block .f_blog li{ color:#fff; font-size:14px;}
.footer_block .footer_bottom{ margin-top:25px; overflow:hidden;}
.footer_block .bottom_left{
	border:1px solid #e8e8e8;
	width:299px;
	float:left;
	padding:14px 0 10px 14px;
	line-height:20px;
}
.footer_block .title_left{ background:url(../../../../images/footer/bottom_title_1.png) repeat-x left bottom; height:27px; width:285px;}
.footer_block .bottom_left ul{ margin-left:2px; margin-top:10px;}
.footer_block .bottom_left ul li{ background:url(../../../../images/footer/black.png) no-repeat left center; padding-left:15px; margin-bottom:3px;}
.footer_block .bottom_left ul li a{ font-size:12px; color:#111111; text-decoration:none;}
.footer_block .bottom_left ul li a:hover{ text-decoration:underline;}
.footer_block .bottom_left .sub_1{ background:url(../../../../images/footer/star_li.png) no-repeat left center!important; margin-left:27px;}
.footer_block .bottom_left li.sub_1 a:hover{ text-decoration:none!important;}
.footer_block .bottom_left .sub_2{ margin-left:14px; background:none; font-size:12px;}
.footer_block .bottom_left .pay_pal{ margin-left:24px;}
.footer_block .bottom_center{ width:390px; float:left; background:url(../images/bg_bottom_left.png); padding:6px 0 0 0; margin-left:10px;}
.footer_block .bottom_center .top_bottom{ margin:0 14px;}
.footer_block .bottom_center .title_center{ background:url(../../../../images/footer/bottom_title_2.png) repeat-x left bottom; height:37px; width:359px;}
#footer .footer_block .bottom_center a.banner_1{ display:block; line-height:65px; font-size:16px; width:344px; height:65px;  margin-top:20px; border:#ddd 1px solid; padding-left:15px;}
.footer_block .bottom_center .bottom_center_b_2{ margin-top:18px; padding-top:8px;}
.footer_block .banner_2{
	display:block;
	width:356px;
	height:99px;
	background:url(../../../../images/footer/banner_2.png) no-repeat 0 0;
	margin:0 auto;
}
.footer_block .banner_2:hover, .footer_block .banner_1:hover{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}
.footer_block .bottom_right{ color:#252525; font-size:12px; float:left; width:231px; padding-left:10px; padding-right:4px; line-height:20px;}
.footer_block .bottom_right .title_right{ width:220px; margin-top:70px; margin-bottom:10px;}
.copy_right{
	color:#2d2d2d;
	font-size:11px;
	text-align:left;
	height:45px;
	line-height:45px;
	width:945px;
	margin:0 auto;
	padding-left:15px;
	border-top:2px solid #000;
}
ul.socilalButton{
	display:block;
	height:20px;
	width:350px;
	overflow:hidden;
	position: absolute;
	right: 0;
	top: 44px;
}
ul.socilalButton li{
	display: inline;
	float:right;
	padding-left:45px;
	width:58px;
}
/*-------------- breadcrumb*/
.breadCrumbs{
    border-bottom: 1px solid #ccc;
    padding: 0 0 2px 5px;
	margin-top:16px;
	overflow:hidden;
}
.help_bread{ margin-top:11px!important;}

.breadCrumbs li{
	font-size:12px;
    float: left;
    color: #890000;
}

.breadCrumbs li.arrow{
    color: #232323;
    margin: 0 5px;
}
.breadCrumbs li a{ color: #232323; font-size:12px; }
.breadCrumbs li a:hover { text-decoration:underline;}
/*---------------------- cont_text*/
.cont_text .info,
.cont_text dl{ margin: 25px 10px 0 10px; font-size:12px; color:#252525; line-height:20px;}

.cont_text .info a{ color:#b90009;}
.cont_text dl dt,
.beginners dl dt{
    color: #b20101;
    font-size: 14px;
    line-height: 20px;
    border-bottom: 1px solid #ddd;
}

.cont_text dl dd{
    color: #252525;
    padding: 5px;
    margin-bottom: 20px;
    line-height: 20px;
}

.cont_text dl dd p{  margin-top: 25px; color:#252525;}
.cont_text dl dd p:first-child{ margin-top: 0}
/*---------------- products*/
.cont_product{ font-size:12px; overflow:hidden;}
.contProducts{ overflow:hidden;}
.actions{
    height: 29px;
    background-color: #f5f5f5;
    width: 520px;
    margin-top: 15px;
}
.content a:hover{ text-decoration:underline;}
.actions .sort{
    float: left;
    margin: 3px 0 0 10px;
}


.actions .sort li{
    float: left;
    background: url(../../../../images/product_list/square_red.gif) no-repeat left center;
    margin-right: 10px;
    color: #474747;
    padding-left: 10px;
}

.actions .sort li a{
    color: #b20101;
    line-height: 12px;
}



.actions .pagination{
    float: right;
    margin: 2px 11px 0 0;
}

.actions .pagination li{
    float: left;
    margin-left: 2px;
}

.actions .pagination li a{
    padding: 1px 7px;
    border: 1px solid #c5c5c5;
    height: 19px;
    line-height: 20px;
    background-color: #fff;
    color: #7b7b7d;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.p_text{ text-align:right; margin-top:5px; color:#6e6e6e; font-size:10px;}
.actions .pagination li a:hover,
.actions .pagination li.current a{
    /*border: 1px solid #b20101;*/
    background-color: #fc63a3;
    color: #fff;
    text-decoration: none;
}

/*蝠�蜩∽ｸ�隕ｧ繝壹�ｼ繧ｸ*/
.categoryTitle h3{ font-size:22px;}
.pagination li.rightArrow a,
.pagination li.leftArrow a{
	background: url(../../../../images/product_list/pagination_arrows.png) no-repeat scroll 0 0 transparent;
    border: medium none;
    display: block;
    font-size: 0;
    height: 11px;
    margin-top: 4px;
    padding: 0;
    text-indent: -99999px;
    width: 10px;
}
.pagination li.rightArrow,
.pagination li.leftArrow{
	margin-top:4px;
}

.pagination li.rightArrow a:hover,
.pagination li.leftArrow a:hover{
    border: none;
    background-color: #f0f0f0;
}
.pagination li.rightArrow a:hover{ background-position:-9px -11px;}
.pagination li.leftArrow a:hover{ background-position:0 -11px;}
.pagination li.leftArrow a{ margin-right: 3px}
.pagination li.rightArrow a{background-position: -10px 0; margin-left: 3px;}

.cont_product .contProducts{ margin-top: 10px }
.cont_product .contProducts ul li.item{
    display: block;
    border: 1px solid #e5e5e5;
    padding: 10px 5px  10px 15px;
    margin-bottom: 10px;
	overflow:hidden;
}

.cont_product li.item:hover,
.cont_product li.item:active,
.cont_product a.current{
    text-decoration: none;
    background-color: #f8f8f8;
}

.cont_product li.item img{
    border: 1px solid #ccc;
    float: left;
    margin-right: 10px;
}



.cont_product li.item .desc{
    width: 360px;
    float: left;
    line-height: 20px;
	height:79px;
	border-bottom:1px solid #ededed;
}
.border_image{ border:1px solid #000!important;}
.cont_product li.item .title{
    font-size: 14px;
    color: #6e2400;
	text-decoration:underline;
    display: inline-block;
}
.cont_product li.item .title:hover{ text-decoration:none;}

.cont_product li.item .info{
    color: #686868;
    font-size: 12px;
    display: block;
	padding-top:7px;
}
.add_to_cart{ display:block; width:106px; height:24px; background:url(../../../../images/product_list/sp_add_cart.png) no-repeat 0 0; float:right; margin-left:152px;}
.add_to_cart:hover{ background-position:0 -24px;}

.toItem{
	float:right;
	display:block;
	width:108px;
	height:34px;
	line-height:34px;
	text-align:center;
	margin-top:10px;}
.toItem a{ display:block;background-color:#eeebeb;}
.toItem a:hover{
	background-color:#fc63a3;
	color:#fff;}

.cont_product li.item .price{
    min-width: 80px;
    font-size: 16px;
    line-height: 20px;
    color: #8e3900;
    float: left;
	margin-top:8px;
	line-height:26px;
}

.cont_product li.item .price em{
    font-size: 10px;
    color: #181818;
}


.cont_product .serchResult{
    border: 1px solid #E5E5E5;
    margin-top: 15px;
    padding: 5px 10px;
}

.cont_product .serchResult strong{
    color: #B20101;
    font-weight: bold;
}
/*----------------- tokusho*/
.zebraTable{ margin-top: 15px; font-size:12px;}
.zebraTable dt span{
    position: relative;
    z-index: 10;
}
.zebraTable dt{
    width: 160px;
    float: left;
    clear: left;
    color: #778b91;
    padding: 3px 15px;
}

.zebraTable dd{
    margin-left: 190px;
    position: relative;
    line-height: 18px;
    color: #586062;
    padding: 5px 15px;
    border-top: 1px solid #fff;
}

.zebraTable dd p{ margin-bottom: 15px }

.zebraTable dd em{
    display: block;
    position: absolute;
    height: 100%;
    top: -1px;
    left: -190px;
    width: 190px;
    z-index: 0;
    border-right: 1px solid #e1e1e1;
    border-top: 1px solid #fff;
}

.zebraTable dd,
.zebraTable dd em{
    background-color: #f6f6f6;
}

.zebraTable dd.even,
.zebraTable dd.even em{
    background-color: #fcfcfc;
}

.zebraTable dd a{ color: #0069d4 ; text-decoration: underline }
.zebraTable dd a:hover{  text-decoration: none }
.red{ color:#e10202;}
/*-------------------------- payment*/
.cont_payment{ font-size:12px;}
.cont_payment h3.title{
    background: url("../img/payment/page_caption.png") no-repeat;
    width: 211px;
    height: 19px;
    margin: 25px 0 0 0;
}

.cont_payment p{
    margin-top: 20px;
    line-height: 20px;
    color: #3a3a3a;
}
.cont_payment span.red,
.cont_payment p.important{ color: #b50007; }

.cont_payment span.square{
    background: url(../../../../images/payment/square_red_large.gif) no-repeat 0 center;
    padding-left: 15px;
}
.cont_payment h4{
    height: 24px;
    line-height: 28px;
    margin-top: 15px;
    font-size: 15px;
    color: #516b72;
	border-bottom:1px solid #c9d1d3;
	padding-left:2px;
}
.grayBoxPayment{
	border:1px solid #ececec;
    padding: 15px 0;
    margin-top: 20px;
}

.grayBoxPayment li{
    color: #5b5b5b;
    font-size: 14px;
    background: url(../../../../images/payment/square_black.png) no-repeat 15px center;
    padding-left: 30px;
    margin-top: 10px;
}
.grayBoxPayment li:first-child{margin-top: 0}
.grayBoxPayment li strong{ color: #b20101; }
.cont_payment .bankTransfers{ margin: 25px 0 0 10px }
.cont_payment .bankTransfers em{
    display: block;
    text-indent: -99999px;
    font-size: 0;
    background: url(../../../../images/payment/sp_bank_transfer.png) no-repeat;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 15px;
    float: left;
}

.cont_payment .bankTransfers li{
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    color: #5b5b5b;
    margin-top: 5px
}
.cont_payment .bankTransfers li:first-child{ margin-top: 0}

.cont_payment .bankTransfers li.i2 em{background-position: -0px -25px}
.cont_payment .bankTransfers li.i3 em{background-position: -0px -50px}
.cont_payment .bankTransfers li.i4 em{background-position: -0px -75px}
.cont_payment .bankTransfers li.i5 em{background-position: -0px -100px}

.cont_payment table.blueStyle{ margin-top: 20px}
.cont_payment table.blueStyle th{ width: 50px }
.cont_payment table.blueStyle th.c1,
.cont_payment table.blueStyle th.c2,
.cont_payment table.blueStyle th.c5{ width: 80px;}

.cont_payment table.blueStyle{ margin-top: 20px}
.cont_payment table.blueStyle th{ width: 50px; vertical-align:middle; }
.cont_payment table.blueStyle th.c1,
.cont_payment table.blueStyle th.c2,
.cont_payment table.blueStyle th.c5{ width: 80px; vertical-align:middle;}
.cont_payment ul.info{ margin-top: 20px; margin-left:20px;}
.cont_payment ul.info li{ list-style-image:url(../../../../images/payment/star_menu.png);}
table.blueStyle {width: 100%}
table.blueStyle th{ width: 73px; }
table.blueStyle th,
table.blueStyle td{
    height: 45px;
    text-align: center;
}

table.blueStyle th{
    font-size: 14px;
    color: #68797d;
    background-color:#c9d1d3;
    text-shadow: 1px 2px 0px rgba(255, 255, 255, 0.16);
    border-left: 1px solid #82989f;
    border-bottom: 1px solid #82989f;
    box-shadow: 1px 0 0 #b4c2c6;
}



table.blueStyle td{
    color: #313131;
    border-left: 1px solid #c5ced2;
    border-bottom: 1px solid #ced7db;
    box-shadow: 1px 0 0 #fff;
	vertical-align:middle;
}
table.blueStyle tr.even td{background-color: #f2f4f5; vertical-align:middle; }
table.blueStyle td.large{ background-color:  #f2f4f5 !important; }

table.blueStyle th:first-child,
table.blueStyle td.noBorder{ border-left: none }

table.blueStyle tr:hover td{ background-color: #ffffea}
table.blueStyle tr:hover td.large{ background-color: #f2f4f5}
/*--------------------- about_us*/
a.about{
	display:block;
	padding:10px 0 10px 15px;
	background-color:#000;
	color:#fff;
	text-decoration:none;}
a.about:hover{
	background-color:#555;
	text-decoration:none;}
.title{font-weight:bold; color:#000; font-size:20px;}
.cont_about{ font-size:12px;}
.cont_about .img_text{ border:1px solid #e6e6e6; margin-top:20px; padding-bottom:10px;}
.cont_about .img_text ul{padding:0 10px; margin:20px 0 0 30px; list-style:decimal;}
.cont_about .img_text ul li{ font-size:16px; font-weight:bold; color:#fc63a3;
margin-bottom:10px;}
.cont_about .img_text p { padding:0 10px 0 10px; margin-top:20px;}
.cont_about .ksgBanner{
    display: block;
}
.help_img{ margin-top:35px;}
.scene{ margin-top:30px;}
.scene_title{ border-bottom:1px solid #000; padding-bottom:2px; padding-left:3px; height:28px; overflow:hidden;}
.scene_title span{ color:#fc63a3; font-weight:bold; font-size:14px;}
.scene ul{ margin-left:19px; margin-top:15px; margin-bottom:35px;}
.scene ul li{
	background:url(../../../../images/about_us/gray_square.png) no-repeat left center;
	padding-left:16px;
	margin-bottom:7px;
	padding-right:10px;
}
/*--------------------- delivery*/
.cont_delivery { font-size:12px;}
.cont_delivery h4{
    height: 24px;
    line-height: 28px;
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #42626c;
	border-bottom:2px solid #828283;
	padding-left:2px;
}
.cont_delivery p{ margin-top:25px;}
.cont_delivery .car {
    margin-top: 35px !important;
    position: relative;
}

.cont_delivery .car_sale {
    position: absolute;
    right: 15px;
    top: -22px;
}
.cont_delivery .m_bottom{ margin-bottom:15px;}
/*---------------- beginners*/
.cont_beginners{ font-size:12px;}
.cont_beginners .info{
    background-color: #f5f5f5;
    padding: 10px 15px;
	font-size:14px;
	margin:15px 10px 0 10px;
}
.cont_beginners dl{ margin:25px 10px 0 10px;}


.cont_beginners dl dt{
    color: #fc63a3;
    font-size: 14px;
    line-height: 20px;
    border-bottom: 1px solid #ddd;
}

.cont_beginners dl dd{
    color: #252525;
    padding: 5px 0 5px 0;
    margin-bottom: 20px;
    line-height: 20px;
}

.cont_beginners dl dd p{  margin-top: 25px; padding-right:10px;}

.cont_beginners dl dd p:first-child{ margin-top: 0}


.cont_beginners dl dt{
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
}

.cont_beginners .info{
    background-color: #f5f5f5;
    padding: 10px 15px;
}

.cont_beginners dl dd .red{ color: #b20101}
/*---------------------qa*/
.cont_qa{ font-size:12px;}
.cont_qa .questionsBox{ margin-top: 20px}

.cont_qa .questionsBox p.title span{
	background:url(../../../../images/qa/title_box.png);
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin-left: 5px;
    height: 27px;
    line-height: 30px;
    padding: 3px 12px;
    float: left;
    -moz-border-radius: 10px 10px 0 0; /* Firefox */
    -webkit-border-radius: 10px 10px 0 0; /* Safari, Chrome */
    border-radius: 10px 10px 0 0; /* CSS3 */
}

.cont_qa .questionsBox ul{
    border: 1px solid #b3c1c5;
    background-color: #fcfcfc;
    padding: 10px 15px;
}

.cont_qa .questionsBox li{
    background: url(../../../../images/qa/q_letter.png) no-repeat 0 5px ;
    padding-left: 20px
}
.cont_qa .questionsBox li a{
    line-height: 26px;
    color: #404040;
}
.cntQA{ margin-top: 15px}

.cntQA .question,
.cntQA .answer{
    padding: 10px;
    line-height: 20px;
    padding-left: 50px;
}

.cntQA .question{
    background: url(../../../../images/qa/bg_square_brown.gif);
    position: relative;
}
.cntQA .item{ margin-bottom: 30px;}

.cntQA .question em{
    position: absolute;
    display: block;
    text-indent: -99999px;
    font-size: 0;
    background: url(../../../../images/qa/question_list.png) no-repeat;
    width: 32px;
    height: 14px;
    left: 10px;
    top: 13px;
}

.cntQA .answer{
    margin-top: 2px;
    border: 1px solid #dfdfdf;
    background: url(../../../../images/qa/answer_list.png) no-repeat 10px 13px;
}

.cntQA .goToQuestion{
    display: block;
    text-indent: -99999px;
    font-size: 0;
    background: url(../../../../images/qa/btn_gototop.png) no-repeat ;
    width: 83px;
    height: 22px;
    float: right;
    margin-top: 5px;
}
/*---------------------- site_map*/
.cont_siteMap .links{ margin-top: 20px; }
.links{ height:155px;}
.cont_siteMap .links ul{ float: left; margin-left: 5px}
.cont_siteMap .links ul:first-child{ margin-left: 0}
.cont_siteMap .links ul li{ margin-bottom: 5px;}
.cont_siteMap .links ul li a{
    display: block;
    border: 1px solid #cdd5d7;
    font-size: 13px;
    color: #152502;
    width: 153px;
    height: 37px;
    line-height: 37px;
    padding-left: 15px;
}

.cont_siteMap .links ul li a:hover{
    color: #fc63a3;
    background-color: #f4f4f4;
    text-decoration: none;
}

/*---------------guide*/
.cont_guide { position: relative; z-index: 0}
.guide_menu_bott{ margin-left:19px; margin-top:10px;}
.guide_menu_bott li{ list-style-image:url(../../../../images/guide/star_menu.png); margin-top:0!important;}

.cont_guide .tabs{ margin-top: 20px; }
.cont_guide .tabs ul{ margin-left:4px;}
.cont_guide .tabs ul li{ float: left;}
.cont_guide .tabs ul li a{
    display: block;
	background:url(../../../../images/guide/tabs.png) no-repeat;
    width: 214px;
    height: 41px;
    line-height: 41px;
    text-align: center;
    float: left;
    margin-right: 5px;
    color: #3f5055;
    font-size: 15px;
}

.cont_guide .tabs ul li a{
	text-decoration: none;
	display: block;
    height: 32px;
    width: 202px;
	line-height:38px;
	font-size:16px;
}
.cont_guide .tabs ul li a.selected{background-position: -204px 0; color:#fff; line-height:35px;}
.cont_guide .tabs .btns{ position: relative;}

.cont_guide .tabs .separator{
    border-top: 1px solid #fc63a3;
}
.cont_guide #box1 a{ color:#de0000; }

.cont_guide .cntTitle{ border-bottom:2px solid #e0e0e0!important; margin-top:12px!important; margin-left:10px!important; padding-bottom:5px;!important}
.cont_guide .cntTitle span{
    display: block;
    height:17px;
}

.cont_guide .box2{ display: none;}
.cont_guide .t2 span{}
.cont_guide .grayBox{
    padding: 20px 20px 25px 15px;
    position: relative;
    z-index: 0;
	color:#404040;
	line-height:22px;
}
.cont_guide #box2 .grayBox a, #box3 .grayBox a{ color:#de0000; text-decoration:none;}
.cont_guide #box2 .grayBox a:hover, #box3 .grayBox a:hover{ text-decoration:underline;}
.cont_guide .grayBox > ul > li{ margin-top: 8px; font-size:12px; line-height:22px;}
.cont_guide .grayBox > ul > li:first-child{ margin-top: 0; }

.cont_guide .grayBox p{ font-size:12px; line-height:20px; color:#404040; line-height:22px;}
.cont_guide .grayBox p:first-child{ margin-top: 0}

.cont_guide .grayBox .nRed,
.cont_guide .grayBox .red{
    color: #de0000;
}
.cont_guide .boxTop{  border:1px solid #e1e1e1; font-size:12px; }
.cont_guide .grayBox p:first-child{ margin-top: 0}

.cont_guide .grayBox .nRed,
.cont_guide .grayBox .red{
    color: #b20101;
}
.red{ color:#c50000;}
.cont_guide .grayBox .nRed{ font-size: 14px}

.cont_guide .grayBox em.arrow{
    display: block;
    text-indent: -9999px;
    font-size: 0;
    background: url(../../../../images/guide/pink_arrow.png) no-repeat;
    width: 79px;
    height: 78px;
    position: absolute;
    left: 220px;
    top: -40px;
    z-index: 9999
}
.cont_guide .line{ height:1px; border-bottom:solid #959595 1px; margin-top:17px;}
.cont_guide .noArrow{ padding-bottom: 15px;}
.cont_guide .cntGrayBox{ padding-right:10px; border:1px solid #e1e1e1;}
/*----------------- login*/
.cont_login .attention{
    border: 1px solid #dbdbdb;
    background-color: #f0f0f0;
    margin-top: 15px;
    padding: 20px 15px 20px 30px;
    color: #5f5f5f;
    line-height: 24px;
    font-weight: bold;
}
.cont_login .attention li{ font-size:14px;}
.cont_login .loginBox{
    margin-top: 15px;
    border: 1px solid #dbdbdb;
    padding: 30px 0;
}
.cont_login .attention .forgotPass a{
    background: url(../../../../images/payment/square_red_large.gif) no-repeat left center;
    padding-left: 15px;
    color: #0058a3;
	text-decoration:underline;
}
.cont_login .attention .forgotPass a:hover{ text-decoration:none;}
.cont_login{
    margin-bottom: 120px;
	margin-top:20px;
}
.backShop ,
.login .backShop{
    text-align: right;
    margin-top: -15px;
	font-size:14px;
}
.contact .topTitle span,
.login .topTitle span{
    color: #000;
    font-size: 25px;
    font-weight: bold;
}
.cont_contact .topTitle,
.login .topTitle{ text-align: center;  margin-top:35px;}
.contact .middle .info,
.login .middle .info{
    color: #454545;
    font-size: 12px;
    background: url(../../../../images/payment/square_red_large.gif) no-repeat 15px center;
    padding-left: 30px;
    line-height: 15px;
    margin-top: 45px;
	color:#454545;
	margin-left:15px;
}
.cont_login .loginBox dl{
    margin: 0 auto;
    width: 510px;
    border: 2px solid #f0f0f0;
}

.cont_login .loginBox dl dt{
    width: 150px;
    float: left;
    clear: left;
    padding: 5px;
}

.cont_login .loginBox dl dt label{
    display: block;
    background-color: #f0f0f0;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: #626262;
    font-size: 14px;
}

.cont_login .loginBox dl dd.last,
.cont_login .loginBox dl dt.last{
    border-top: 1px solid #f0f0f0;
}

.cont_login .loginBox dl dd{
    margin-left: 150px;
    padding: 5px 0 5px 20px;
}

.cont_login .loginBox dl dd input{
    border: 1px solid #efefef;
    background-color: #f9f9f9;
    padding: 2px 5px 3px;
    width:320px;
    font-size: 12px;
    line-height: 12px;
}

.cont_login .loginBox dl dd input:hover{ background-color: #fff;}

.cont_login .loginBox button{
    display: block;
    background: url(../../../../images/login/btn_login.png) no-repeat;
    width: 74px;
    height: 24px;
    border: none;
    cursor: pointer;
    margin: 30px auto 0;
}
.cont_login .loginBox button:hover{ background: url(../../../../images/login/btn_login.png) no-repeat -74px 0;}
/*---------------- contact*/

.cont_contact {
    margin-bottom: 20px;
    margin-top: 20px;
	font-size:12px;
}
.contact .middle dl{
    border: 1px solid #dbdbdb;
    margin-top: 20px;
    background-color: #fff7f7;
}


.contact .middle dl dt,
.contact .middle dl dd{
    border-top: 1px solid #dbdbdb;
}

.contact .middle dl dt.first,
.contact .middle dl dd.first{
    border-top: none;
}

.contact .middle dl dt{
    float: left;
    clear: left;
    width: 185px;
    padding: 13px 0 0 10px;
}

.contact .middle dl dt span{
    display: block;
    text-indent: -99999px;
    font-size: 0;
    background: url(../../../../images/contact/required.png) no-repeat;
    width: 39px;
    height: 19px;
    float: left;
}

.contact .middle dl dt label{
    float: left;
    color: #5f5f5f;
    font-size: 14px;
    margin-left: 10px;
}

.contact .middle dl dd{
    margin-left: 185px;
    border-left: 1px solid #dbdbdb;
    padding: 10px 0 10px 20px;
    background: url("../img/white_pixel.gif") repeat-y 1px top #fff7f7;
}

.contact .middle dl dd p:first-child{ margin-bottom: 5px; }
.contact .middle dl dd span.confirm{
    margin-top: 5px;
    color: #bc000b;
    display: block;
}

.contact .middle dl dd input,
.contact .middle dl dd textarea{
    width: 90%;
    border: 1px solid #fff;
    box-shadow: inset 0 0 5px rgba(0 , 0 , 0 ,0.20);
    padding: 3px 5px;
}

.contact .middle dl dd textarea{overflow: auto; }

.contact .middle .btn{ text-align: center; margin-top: 20px}
.contact .middle .btn button{
    background: url(../../../../images/contact/btn_send.png) no-repeat;
    width: 72px;
    height: 23px;
    border: none;
    cursor: pointer;
}

#contactBtn{
	margin:20px;
	padding-top: 5px;
	border: 0;
	height:40px;
	width: 300px;
	background-color: #FC63A3;
	color: #fff;
	font-size: 24px;
	cursor: pointer;
}

.contact .middle .btn button:hover{ background: url(../../../../images/contact/btn_send.png) no-repeat 0 -23px;}

/*=============================item
*/
#itemCrm{
	width:960px;}
.itemArea{
	margin:0;}
.itemArea h1{
	font-size:20px;}
.itemImgArea{
	margin:20px 30px 0 0;
	float:left;}
.itemImgArea .imgBox{
	width:468px;
	height:468px;
	overflow:hidden;
	border:#eee 1px solid;
	}
.itemImgArea ul#foo3 li{
	float:left;
	width:468px;}
.itemImgArea ul#foo3 li img{
	width:100%;}
.itemImgArea #foo3_pag{
	width:468px;
	margin-top:10px;}
.itemImgArea #foo3_pag .thumImg{
	width:107px;
	height:107px;
	border:#eee 1px solid;
	margin:0 10px 10px 0 ;
	float:left;
	overflow:hidden;}
.itemImgArea #foo3_pag .thumImg:hover{
	border:#fc63a3 1px solid;
	opacity:0.7;}
.itemImgArea #foo3_pag .thumImg:nth-child(4n){
	margin:0 0 10px 0 ;}
.itemImgArea #foo3_pag .thumImg img{
	width:100%;}

.itemDateArea{
	margin:20px 0;
	float:left;
	width:450px;}
.itemDateTable{
	width:450px;
	border-left:#ccc 1px solid;
	font-size:90%;
	line-height:1.6em;
	margin:25px 0;}
.itemDateTable th{
	width:60px;
	color:#fc63a3;
	text-align:right;
	padding:7px 20px 7px 0;}
.itemDateTable td{
	padding:7px 0;}
.itemDateArea h1{
	font-weight:normal;
	color:#000;
	margin-bottom:15px;
	line-height:1.4em;}
.itemDateArea .itemPrice{
	color:#cc0033; font-size:20px;
	margin-bottom:15px;}
.itemDateArea .itemPrice span{ font-size:14px; margin-left:10px;}

.itemNum input{ width:20px; padding:0 10px;}
.addBtn{
	width:320px;
	height:45px;
	margin:25px 0;}
.addBtn input[type="submit"]{
	width:320px;
	height:45px;
	background:url(../../../../images/item/btn_add.png) no-repeat;
	border:none;
	color:#fff;}
.subContentArea{
	margin:20px auto;
	clear:both;
	font-size:14px;
	}
.subContentArea h2{
	color:#cc0033;
	margin:25px 0 10px;
	font-size:20px;}
.subContentArea img{
	margin:10px 0;}
